@model Sociatis.Models.Houses.HouseInfoViewModel

<div id="hotelInfo" class="row ContentBox entityInfoBox">
    <div class="row">
        <div class="small-3 medium-4 columns">
            <div class="infoAvatar relative">
                @Html.DisplayFor(m => m.Avatar)
            </div>
        </div>
        <div class="small-9 medium-8 columns">
            <h5>House</h5>
            <h5>
                @Html.ActionLink(Model.RegionName, "View", "Region", new { regionID = Model.RegionID }, null)
                , @Html.ActionLink(Model.CountryName, "View", "Country", new { countryID = Model.CountryID }, null)
            </h5>
            <div class="centerVerticalFlex">
                Condition:
                <div style="margin-left:0.5rem" class="inline container-bar-full" title="@Model.Condition%" data-tooltip>
                    <div class="hp-bar" style="width:@Model.ConditionPercent%; background-color:@Model.ConditionColor; "></div>
                </div>
            </div>
            <div>
                Furniture: <br />
                @foreach (var f in Model.Furnitures)
                {
                    <text>
                        <b>@f.Name Q@(f.Quality) </b><br />
                    </text>
                }
            </div>
            @if (Model.SellPrice.HasValue)
            {
                <div>
                    House is on sell. Price: <b>@Model.SellPrice</b> @Model.PriceSymbol.
                </div>
            }
        </div>
    </div>
    @Html.DisplayFor(m => m.Menu)
</div>

