@using WebServices.Models
@using WebServices.enums
@using Sociatis.Code
@{ 
    var messages = TempData["Messages"];
    List<PopupMessageViewModel> messageList = null;
    if (messages != null && messages is List<PopupMessageViewModel>)
    {
        messageList = messages as List<PopupMessageViewModel>;
    }
    else
    {
        messageList = new List<PopupMessageViewModel>();
    }
}


<html>
<head>
    <link rel="shortcut icon" href="~/Content/images/icons/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/Content/images/icons/favicon.ico" type="image/x-icon">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @RenderSection("css", required: false)
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/foundation")

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/zf/dt-1.10.13/b-1.2.4/b-colvis-1.2.4/cr-1.3.2/r-2.1.0/datatables.min.css" />

    <script type="text/javascript" src="https://cdn.datatables.net/v/zf/dt-1.10.13/b-1.2.4/b-colvis-1.2.4/cr-1.3.2/r-2.1.0/datatables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.13/sorting/natural.js"></script>

    <script type="text/javascript">
        

        window.Sociatis = window.Sociatis || {};
        Sociatis.Global = Sociatis.Global || {};

        Sociatis.Global.MapUrl = "@Config.MapUrl";
    </script>

</head>
<body>
    @{ Html.RenderAction("RenderNavigation", "Navigation"); }

    <div class="container body-content">
        <div class="hide-for-small-only medium-12 large-2 columns">
            <div class="ContentBox entitySummary">

                @{ Html.RenderAction("EntitySummary", "Entity"); }

            </div>
        </div>
        <div class="small-12 medium-12 large-10 columns gameBody  noTabletPadding noMobilePadding">
            <div class="row collapse">
                <div class="small-12 columns noHorizontalPadding" id="popupMessageList">
                    @foreach (var message in messageList)
                    {
                        <div class="popupMessage @message.MessageType.GetMessageClass()">
                            <div class="close"><i class="fa fa-close"></i></div>
                            <div class="message">
                                @Html.Raw(message.Content)
                            </div>
                        </div>
                    }

                    <script id="popupMessageTemplate" type="text/x-jsrender">
                        <div class="popupMessage {{:messageClass}}">
                            <div class="close"><i class="fa fa-close"></i></div>
                            <div class="message">
                                {{:message}}
                            </div>
                        </div>
                    </script>
                </div>
                <div class="small-12 columns">
                    @RenderBody()
                </div>
            </div>
         </div>
            



            <div style="clear:both"></div>
        </div>

    <footer id="footer">
        <div class="issues">
            <a href="@Url.Action("ReportBug", "Bug")" class="">
                Report bug
            </a>
        </div>
        <div class="copyrights"> &copy; @DateTime.Now.Year - Sociatis. All rights reserved.
        @if (WebServices.Helpers.GameHelper.ActivePlayers > 0)
        {
            @:Active players: @WebServices.Helpers.GameHelper.ActivePlayers.
        }
        </div>
       
    </footer>

    @**@
    @StyleInjector.RenderStyles()
    @Scripts.Render("~/scripts/global")
    @Scripts.Render("~/Scripts/utils/sociatis.utils.message.js")
    @RenderSection("scripts", required: false)
    @ScriptInjector.RenderScripts()
    <script>
        @ScriptInjector.RenderJavascriptCode()
        $(document).ready(function () {

            $(document).foundation();
            $("div.top-bar>div.top-bar-left>ul>li.has-submenu>ul").css("display", "");
        });
    </script>
    @Scripts.Render("~/scripts/notify")
</body>
</html>
