@model Sociatis.Models.Country.DeclareWarInformationsViewModel

<div class="currencyBoxer centerVerticalFlex">
    <text>Gold needed: </text>
    <span class="pull-right-flex text-3x centerVerticalFlex">
        <span class="moneyMargin">
            @Model.GoldNeeded.Quantity.ToString("N2")
        </span>
        @Html.DisplayFor(m => m.GoldNeeded.Image)
    </span>
    <span class="clearfix">&nbsp;</span>
</div>
<br/>

<div class="currencyBoxer centerVerticalFlex">
    <text>@Model.CountryName gold: </text>
    <span class="pull-right-flex text-3x centerVerticalFlex">
        <span class="moneyMargin">
            @Model.CountryGold.Quantity.ToString("N2")
        </span>
        @Html.DisplayFor(m => m.CountryGold.Image)
    </span>
    <span class="clearfix">&nbsp;</span>
</div>

@if (Model.AttackerAllies.Count > 0)
{

        @:Attacker allies : <br/>
    foreach (var ally in Model.AttackerAllies)
    {
        <div>@ally.CountryName</div>
    }
    if (Model.DefenderAllies.Count > 0)
    {
        <hr/>
    }
}

@if (Model.DefenderAllies.Count > 0)
{
    @:Defender allies: <br/>
    foreach (var ally in Model.DefenderAllies)
    {
        <div>@ally.CountryName</div>
    }
}