@model Sociatis.Models.Newspapers.WriteArticleViewModel
@using NRights = Entities.enums.NewspaperRightsEnum

@{ Html.EnableClientValidation(false); }
<div class="small-12 columns">
    <h3>Write article</h3>
</div>
<div class="small-4 columns">
    <label>Title :</label>
</div>
<div class="small-8 columns">
    @Html.TextBoxFor(m => m.Title)
</div>
<div class="small-4 columns">
    <label>Short description :</label>
</div>
<div class="small-8 columns">
    @Html.TextBoxFor(m => m.ShortDescription)
</div>
<div class="small-4 columns">
    <label>Article image :</label>
</div>
<div class="small-8 columns">
    <input type="file" name="ArticleImage" id="ArticleImage" />
</div>
<div class="small-12 columns">
    <textarea name="Content" autocomplete="off" id="text" class="markdown-textarea">@Model.Content</textarea>
</div>
<div class="row">
    <label class="small-4 columns">Enable pay only content?</label>
    <div class="small-8 columns">
        @Html.CheckBoxFor(m => m.EnablePayOnly)
    </div>
</div>
<div class="row" id="contentPriceRow" style="@(Model.EnablePayOnly?"":"display:none")">
    <div class="small-4 columns">
        <label for="payPrice">Content price: </label>
    </div>
    <div class="small-8 columns">
        <span class="inlineBlock">
            @Html.TextBoxFor(m => m.Price)
        </span>
        <span>@Model.PriceCurrencySymbol</span>
    </div>
    
</div>
<div class="small-12 columns">
    Article tax: @Model.NewspaperTax%
</div>
<div id="payOnly" class="small-12 columns" style="@(Model.EnablePayOnly?"":"display:none")">
    <textarea name="PayOnlyContent" autocomplete="off" id="payText" class="markdown-textarea">@Model.PayOnlyContent</textarea>
</div>

@if (Model.Info.NewspaperRights.HasFlag(NRights.CanManageArticles) && Model.Edit)
{
    <div class="row">
        <div class="small-12 columns">
            <p>Publish article? </p>
            <div class="switch large">
                <input class="switch-input" id="Publish" type="checkbox" name="Publish" value="true" @(Model.Publish == true ?"checked":"")>
                <label class="switch-paddle" for="Publish">
                    <span class="show-for-sr">Publish article? </span>
                    <span class="switch-active" aria-hidden="true">yes</span>
                    <span class="switch-inactive" aria-hidden="true">no</span>
                </label>
            </div>
        </div>
    </div>
}