@model Sociatis.Models.Account.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}
@using (Html.BeginForm(RouteDataHelper.ActionName, RouteDataHelper.ControllerName, FormMethod.Post))
{
    <div class="ContentBox">
        @Html.ValidationSummary()


        @Html.LabelFor(m => m.OldPassword)
        @Html.PasswordFor(m => m.OldPassword, new { placeholder = "Old Password" })

        @Html.LabelFor(m => m.NewPassword)
        @Html.PasswordFor(m => m.NewPassword, new { placeholder = "New Password" })

        @Html.LabelFor(m => m.ConfirmPassword)
        @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Confirm Password" })


        <button class="button green pull-right">Change password</button>
    </div>
}