@model Sociatis.Models.Congress.CongressCandidateSectionViewModel
@using Entities.enums;

@Html.DisplayFor(m => m.Info)

<div class="ContentBox row">
    <h4>Congress Candidates</h4>
    <div class="row">
        @Html.HiddenFor(m => m.CountryID)
        <div class="small-12 columns">
            @Html.DropDownList("CountryRegion", Model.CountryRegions)
        </div>
    </div>

    <table>
        <thead>
            <tr>
                <td style="width:5rem" class="miniAvatars"></td>
                <td>Name</td>
                <td>Region Name</td>
                @if (Model.CanVote)
                {
                    <td style="width:30px">Vote</td>
                }
                <td></td>
            </tr>
        </thead>
        <tbody id="CandidatesTable">
            <tr>
                <td colspan="3">Select region to show party members candidates for desired region</td>
            </tr>
        </tbody>
    </table>

    @if (Model.VotingStatus == VotingStatusEnum.NotStarted)
    {
        <hr />
        <div>
            Voting will be held at @Model.VotingDay@SuffixHelper.OrdinalNumber(Model.VotingDay) day.
            <br />
            @Model.DaysLeft @PluralHelper.Days(Model.DaysLeft) left
        </div>
    }
    else if (Model.VotingStatus == VotingStatusEnum.Ongoing)
    {
        <hr />
        <div>
            Voting is in progress.
        </div>
    }
</div>

@section scripts
{
    @Scripts.Render("~/Scripts/Congress/Sociatis.congress.candidates.js")
}